.movies-card__preview {
  width: 100%;
}

.movies-card__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 23px 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  margin: 0;
}

.movies-card__like-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-card__like-wrapper:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18;
  color: rgba(160, 160, 160, 1);
  margin: 0;
  padding-top: 5px;
}

@media screen and (max-width: 420px) {
  .movies-card__wrapper {
    padding-top: 9px;
  }
}