.profile {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 103px 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 410px;
  width: 100%;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 0;
}

.profile__wrapper:nth-child(3) {
  border-top: 1px solid rgba(232, 232, 232, 1);
}

.profile__input-name {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.81;
  padding: 0;
  margin: 0;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.81;
  margin: 0;
  padding: 0;
  border: none;
  text-align: end;
  background-color: rgba(255, 255, 255, 1);
  width: 85%;
}

.profile__input:focus {
  outline: 1px solid rgba(52, 86, 243, 0.7);
}

.profile__save-button {
  width: 100%;
  margin: 0 0 16px 0;
  padding: 10px 0;
  border: none;
  background: rgba(52, 86, 243, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  display: none;
}

.profile__save-button_activ {
  display: block;
}

.profile__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__save-button_disabled {
  background: rgba(248, 248, 248, 1);
  color: rgba(194, 194, 194, 1);
}

.profile__save-button_disabled:hover {
  cursor: default;
}

.profile__edit-button {
  margin: 0 0 16px 0;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
}

.profile__edit-button_hidden {
  display: none;
}

.profile__edit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__sign-out-button {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 48, 85, 1);
  border: none;
}

.profile__sign-out-button_hidden {
  display: none;
}

.profile__sign-out-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__error {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(255, 48, 85, 1);
  margin: 0;
  height: 20px;
}

.profile__error-hidden {
  visibility: hidden;
}

.profile__api-error {
  margin: 110px 0 13px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18;
  color: rgba(255, 48, 85, 1);
  text-align: center;
  height: 11px;
}

.profile__api-error-hidden {
  visibility: hidden;
}

@media screen and (max-width: 769px) {

  .profile {
    padding: 230px 30px 269px 30px;
  }

  .profile__name {
    margin-bottom: 78px;
  }

  .profile__wrapper {
    padding: 14px 0 0 0;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding-top: 63px;
  }

  .profile__name {
    margin-bottom: 64px;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 1.21;
  }

  .profile__sign-out-button {
    font-size: 12px;
    line-height: 1.21;
  }

  .profile__api-error {
    margin-top: 340px;
  }
}