.profile {
  padding: 66px 70px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 103px 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 410px;
  width: 100%;
  background-color: rgba(232, 232, 232, 1);
}

.profile__wrapper {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.profile__input-name {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.81;
  padding: 0;
  margin: 0;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.81;
  margin: 0;
  padding: 0;
  border: none;
  text-align: end;
  background-color: rgba(255, 255, 255, 1);

}

.profile__input:focus {
  outline: none;
}

.profile__save-button {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  border: none;
  background: rgba(52, 86, 243, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  display: none;
}

.profile__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__edit-button {
  margin: 201px 0 16px 0;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
}

.profile__edit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__sign-out-button {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 48, 85, 1);
  border: none;
}

.profile__sign-out-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 769px) {

  .profile {
    padding: 230px 30px 269px 30px;
  }

  .profile__name {
    margin-bottom: 78px;
  }

  .profile__wrapper {
    padding: 14px 0;
  }

  .profile__edit-button { 
    margin-top: 193px;
  }
}