.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.not-found__title {
  margin: 245px 0 0 0;
  padding: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 1.21;
}

.not-found__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  margin: 0;
  padding: 0;
}

.not-found__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border: none;
  color: rgba(52, 86, 243, 1);
  margin: 180px 0 84px 0;
  padding: 0px;
  text-decoration: none;
  background-color: white;
}

.not-found__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .not-found__title {
    margin-top: 407px;
  }

  .not-found__button {
    margin-top: 180px;
  }
}

@media screen and (max-width: 420px) {
  .not-found {
    gap: 9px;
    }

  .not-found__title {
    font-size: 80px;
    margin-top: 245px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 1.21;
  }
  
  .not-found__button {
    font-size: 12px;
    margin-top: 277px;
  }
}