.about-project {
  margin: 0;
  padding: 110px 70px 100px 70px;
}

.section-title {
  margin: 0;
  padding: 0 0 23px 0;
  border-bottom: 1px solid black;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.04em;
}

.about-project__wrapper {
  padding: 50px 0 110px 0;
  display: flex;
  gap: 54px;
}

.about-project__stage-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-project__stage {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-project__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  margin: 0;
}

.about-project__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  text-align: center;
  row-gap: 2px;
}

.about-project__grid-item {
  margin: 0;
  padding: 10px 0;
}

.about-project__grid-item:nth-child(-n+2) {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.about-project__grid-item:first-child {
  background-color: rgba(43, 224, 128, 1);
}

.about-project__grid-item:nth-child(2) {
  background-color: rgba(242, 242, 242, 1);
}

.about-project__grid-item:nth-child(3),
.about-project__grid-item:nth-child(4) {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 769px) {
  .about-project {
    padding: 91px 50px 82px 50px;
  }

  .about-project__wrapper {
    gap: 38px;
    padding-bottom: 90px;
  }

  .about-project__stage-wrapper {
    gap: 3px;
  }

  .about-project__description {
    font-size: 12px;
    line-height: 1.5;
  }
  .about-project__grid {
    grid-template-columns: 140fr 528fr;
  }
}

@media screen and (max-width: 520px) {
  .about-project {
    padding: 70px 18px 61px 18px;
  }

  .section-title {
    font-size: 18px;
    line-height: 1.21;
    padding-bottom: 28px;
  }

  .about-project__wrapper {
    gap: 56px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
  }

  .about-project__stage {
    font-size: 18px;
    line-height: 1.21;
    margin-top: 0;
    margin-bottom: 0;
  }

  .about-project__stage-wrapper {
    gap: 16px;
  }

  .about-project__description {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__grid {
    grid-template-columns: 100fr 184fr;
  }

  .about-project__grid-item:nth-child(-n+2) {
    font-size: 11px;
  }
  
  .about-project__grid-item:nth-child(3),
  .about-project__grid-item:nth-child(4) {
    font-size: 11px;
  }
}