.register {
  padding: 67px 0;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 40px 0;
}

.register__wrapper {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  margin-bottom: 25px;
}

.register__input-name {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(160, 160, 160, 1);
  padding: 0;
  margin: 0 0 5px 0;
}

.register__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border: none;
  margin-bottom: 7px;
}

.register__input {
  outline: none;
}

.register__submit-button {
  margin: 128px 0 19px 0;
  width: 100%;
  padding: 13px 0;
  border: none;
  background-color: rgba(52, 86, 243, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 1.21;
  line-height: 17px;
}

.register-button__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: rgba(160, 160, 160, 1);
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 769px) {
  .register {
    margin-top: 160px;
  }

  .register__wrapper {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 420px) {
  .register {
    padding: 56px 30px 10px 30px;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .register__title {
    text-align: center;
    margin: 50px 0 80px 0;
  }

  .register__wrapper {
    margin-bottom: 26px;
  }

  .logo {
    display: inline-block;
    margin: 0 auto;
  }

  .register__submit-button {
    margin-top: 215px;
    padding-top: 13px;
    padding-right: 13px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
  }

}