.techs {
  background-color: rgba(245, 245, 245, 1);
  padding: 100px 70px;
}

.techs__wrapper {
  display: flex;
  flex-direction: column;
  padding: 90px 225px 0 225px;
  align-items: center;
  text-align: center;
}

.techs__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  margin: 0;
  padding: 26px 0 102px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.techs__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  gap: 10px;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.techs__grid-item {
  padding: 20px 0;
  margin: 0;
  background-color: rgba(232, 232, 232, 1);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 769px) {
  .techs {
    padding: 91px 80px;
  }
}

@media screen and (max-width: 1025px) {
  .techs {
    padding-left: 80px;
    padding-right: 80px;
  }

  .techs__wrapper {
    padding: 80px 10px 0 10px;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 85px;
  }

  .techs__grid-item {
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {
  .techs {
    background-color: rgba(255, 255, 255, 1);
    padding: 70px 18px;
  }

  .techs__wrapper {
    padding-top: 60px;
  }

  .techs__grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    margin-left: 42px;
    margin-right: 42px;
  }

  .techs__title {
    font-size: 30px;
    line-height: 1.21;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 1.45;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .techs__grid-item {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}