.login {
  padding: 67px 0;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 40px 0;
}

.login__wrapper {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  margin-bottom: 25px;
}

.login__input-name {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(160, 160, 160, 1);
  padding: 0;
  margin: 0 0 5px 0;
}

.login__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border: none;
  margin-bottom: 7px;
}

.login__input:focus {
  outline: none;
}

.login__submit-button {
  margin: 196px 0 19px 0;
  width: 100%;
  padding: 13px 0;
  border: none;
  background-color: rgba(52, 86, 243, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 1.21;
  line-height: 17px;
}

.login__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login-button__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: rgba(160, 160, 160, 1);
  text-align: center;
  margin: 0;
}

.login__link-to-sign-up {
  color: rgba(52, 86, 243, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
}

.login__link-to-sign-in:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .login {
    margin-top: 160px;
  }

  .login__wrapper {
    margin-bottom: 24px;
  }
  
  .login__submit-button {
    margin-top: 200px;
  }
}

@media screen and (max-width: 420px) {
  .login {
    padding: 56px 30px 10px 30px;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .login__title {
    text-align: center;
    margin: 50px 0 80px 0;
  }

  .login__wrapper {
    margin-bottom: 26px;
  }

  .logo {
    display: inline-block;
    margin: 0 auto;
  }

  .login__submit-button {
    margin-top: 286px;
    padding-top: 13px;
    padding-right: 13px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
  }
}